<div class="container mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3 class="text-danger text-uppercase text-center"> Mantenimiento de tipos de documento </h3>
        </div>
        <div class="card-body">
            <app-shared-filter [filters]="filtersForm"
            (resFilterEmmit)="recibirNuevosFiltros($event)"
            
            ></app-shared-filter>
        </div>
    </div>






    <div class="card bg-light mb-3 ">
        <div class="card-header">
            <h3 class="text-danger text-uppercase text-center"> Lista de tipos de documento </h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>
                            <button (click)="nuevoItem(tmpRegister)" class="btn btn-sm btn-primary">
                                <i class="fas fa-plus-circle fa-2x"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of tiposDocumentos">
                        <td> {{d.id}} </td>
                        <td> {{d.codigo}} </td>
                        <td> {{d.descripcion}} </td>
                        <td>
                            <button (click)="editarItem(d,tmpRegister)" class="btn btn-sm btn-primary ">
                                <i class="fas fa-edit fa-2x"></i>
                            </button>
                            <button (click)="eliminarItem(d.id)" class="btn btn-sm btn-danger ms-3">
                                <i class="fas fa-trash fa-2x"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <pagination [totalItems]="cantidadRegistrosTotal" [(ngModel)]="currentPage"
                [itemsPerPage]="2"
                (pageChanged)="pageChanged($event)"
            
            ></pagination>
        </div>
    </div>
</div>


<ng-template #tmpRegister>
    <app-tipo-documento-registro [title]="tituloModal" [item]="tipoDocumentoSeleccionado"
        [accionRealizar]="accionRealizar" (closeModalEmmit)="recibirRespuestaFrm($event)"></app-tipo-documento-registro>
</ng-template>