<!-- HEADER PAGE START -->
<app-template-header></app-template-header>
<!-- HEADER PAGE END -->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">

        <!-- SIDENAV MENU START -->
        <app-template-sidenav></app-template-sidenav>
        <!-- SIDENAV MENU END -->
    </div>
    <div id="layoutSidenav_content">
        <!-- WORK SPACE START -->
        <main>
            <router-outlet></router-outlet>
        </main>
        <!-- WORK SPACE END -->
        <!-- FOOTER START  -->
        <app-template-footer></app-template-footer>
        <!-- FOOTER END  -->
    </div>
</div>